@model IEnumerable<AdminPanelV1.Models.AboutUs>

@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="float: left">Hakkımızda</h5>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.AboutUsId })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>