USE [master]
GO
/****** Object:  Database [AdminV1]    Script Date: 18.08.2022 20:21:54 ******/
CREATE DATABASE [AdminV1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdminV1', FILENAME = N'C:\Users\NURHAT\AdminV1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdminV1_log', FILENAME = N'C:\Users\NURHAT\AdminV1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdminV1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdminV1]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[AboutUsId] [int] IDENTITY(1,1) NOT NULL,
	[EmendatorAdminId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_AboutUs] PRIMARY KEY CLUSTERED 
(
	[AboutUsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmendatorAdminId] [int] NULL,
	[CategoryId] [int] NOT NULL,
	[SubCategoryId] [int] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImgUrl] [nvarchar](max) NOT NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmendatorAdminId] [int] NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[ImgUrl] [ntext] NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NULL,
	[ProductId] [int] NULL,
	[FirstLastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[Date] [datetime] NULL,
	[Confirmation] [bit] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[EmendatorAdminId] [int] NULL,
	[Adress] [nvarchar](max) NOT NULL,
	[Tel] [nvarchar](10) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[EmailPassword] [nvarchar](50) NOT NULL,
	[Whatsapp] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeVideo]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeVideo](
	[HomeVideoId] [int] IDENTITY(1,1) NOT NULL,
	[EmendatorAdminId] [int] NULL,
	[Title] [nvarchar](70) NULL,
	[Description] [nvarchar](100) NOT NULL,
	[VideoUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_HomeVideo] PRIMARY KEY CLUSTERED 
(
	[HomeVideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SubCategoryId] [int] NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[OldPrice] [float] NULL,
	[Stock] [int] NULL,
	[Color] [nvarchar](20) NULL,
	[File] [ntext] NULL,
	[Content] [ntext] NOT NULL,
	[Date] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[EmendatorAdminId] [int] NULL,
	[Tag] [ntext] NOT NULL,
	[ImgUrl] [nvarchar](max) NOT NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSliders]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSliders](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImgUrl] [nvarchar](max) NOT NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_ProductSliders] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmendatorAdminId] [int] NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Tag] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteIdentity]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteIdentity](
	[IdentityId] [int] IDENTITY(1,1) NOT NULL,
	[EmendatorAdminId] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Keywords] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](max) NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_SiteIdentity] PRIMARY KEY CLUSTERED 
(
	[IdentityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmendatorAdminId] [int] NULL,
	[Title] [nvarchar](70) NULL,
	[Description] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmendatorAdminId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryName] [nvarchar](50) NOT NULL,
	[ImgUrl] [ntext] NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAdmin]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAdmin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SystemAdmin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablesLogs]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesLogs](
	[TablesLogsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[ItemName] [nvarchar](250) NOT NULL,
	[Process] [nvarchar](500) NOT NULL,
	[LogDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TablesLogs] PRIMARY KEY CLUSTERED 
(
	[TablesLogsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[UserLogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[State] [nvarchar](50) NULL,
	[LogDate] [datetime] NULL,
 CONSTRAINT [PK_AdminLog] PRIMARY KEY CLUSTERED 
(
	[UserLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPasswords]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPasswords](
	[UserId] [int] NOT NULL,
	[UserPasswordId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CurrentPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserPasswords] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.08.2022 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Job] [nvarchar](50) NULL,
	[Phone] [nvarchar](11) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Auth] [nvarchar](20) NOT NULL,
	[State] [bit] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([BlogId], [UserId], [EmendatorAdminId], [CategoryId], [SubCategoryId], [Title], [Content], [ImgUrl], [State]) VALUES (2, NULL, NULL, 2, 2, N'Test', N'<p>Test1</p>
', N'/Uploads/Blog/339c7a7c-db33-4e73-be1e-3cc124e97fe0.jpg', 1)
INSERT [dbo].[Blogs] ([BlogId], [UserId], [EmendatorAdminId], [CategoryId], [SubCategoryId], [Title], [Content], [ImgUrl], [State]) VALUES (3, NULL, NULL, 1, 3, N'sdsds', N'<p>dsds</p>
', N'/Uploads/Blog/b9dbe797-2b6d-4298-87f7-317b4f024a81.jpg', 1)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [UserId], [EmendatorAdminId], [CategoryName], [Description], [ImgUrl], [State]) VALUES (1, NULL, NULL, N'Kulaklık', N'Kulak üstü kulaklık', N'/Uploads/Category/67cf44ea-24c1-4b54-9f5f-f85e9032220d.jpg', 1)
INSERT [dbo].[Categories] ([CategoryId], [UserId], [EmendatorAdminId], [CategoryName], [Description], [ImgUrl], [State]) VALUES (2, NULL, NULL, N'Saat', N'Akıllı saat', N'/Uploads/Category/0a65dcc9-798b-4baa-aa23-377a84a6203b.jpg', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentId], [BlogId], [ProductId], [FirstLastName], [Email], [CommentContent], [Date], [Confirmation]) VALUES (3, 2, NULL, N'etst', N'REWTR', N'erwr', NULL, 0)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSliders] ON 

INSERT [dbo].[ProductSliders] ([SliderId], [ProductId], [ImgUrl], [State]) VALUES (1, 3, N'/Uploads/ProductSlider/7f67ee12-2f8f-4bfb-82ae-3b7179e30d76.jpg', 0)
SET IDENTITY_INSERT [dbo].[ProductSliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([SliderId], [UserId], [EmendatorAdminId], [Title], [Description], [ImgUrl], [State]) VALUES (1, NULL, NULL, N'Resim 1 ', N'Resim Açıklama', N'/Uploads/HomeSlider/24f46656-b289-4b8c-b5fd-a0a9a1731d55.jpg', 1)
INSERT [dbo].[Sliders] ([SliderId], [UserId], [EmendatorAdminId], [Title], [Description], [ImgUrl], [State]) VALUES (2, NULL, NULL, N'Resim 2', N'Resim Açıklama', N'/Uploads/HomeSlider/5ab013df-a89a-4c0b-a320-b59f57d846d1.jpg', 1)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategories] ON 

INSERT [dbo].[SubCategories] ([SubCategoryId], [UserId], [EmendatorAdminId], [CategoryId], [SubCategoryName], [ImgUrl], [State]) VALUES (2, NULL, NULL, 2, N'Akıllı Saatt', N'/Uploads/SubCategory/b7d9c7aa-16e1-4146-be9e-b746484e78bf.jpg', 1)
INSERT [dbo].[SubCategories] ([SubCategoryId], [UserId], [EmendatorAdminId], [CategoryId], [SubCategoryName], [ImgUrl], [State]) VALUES (3, NULL, NULL, 1, N'Kulak üstü', N'/Uploads/SubCategory/d6c55ec0-a265-4810-8cb0-2516d5dc0746.jpg', 1)
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemAdmin] ON 

INSERT [dbo].[SystemAdmin] ([Id], [Email], [Password]) VALUES (1, N'starwork.it@gmail.com

', N'4KkMhdmWqrfrlId')
SET IDENTITY_INSERT [dbo].[SystemAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[TablesLogs] ON 

INSERT [dbo].[TablesLogs] ([TablesLogsId], [UserId], [ItemId], [TableName], [ItemName], [Process], [LogDate]) VALUES (1, 1, 1, N'Services', N'Cam değişimi', N'Cam değişimi Hizmeti StarWork - Admin tarafından güncellendi.', CAST(N'2022-08-04T19:41:54.733' AS DateTime))
INSERT [dbo].[TablesLogs] ([TablesLogsId], [UserId], [ItemId], [TableName], [ItemName], [Process], [LogDate]) VALUES (2, 1, 2, N'Services', N'Hizmet 2', N'Hizmet 2 Hizmeti StarWork - Admin tarafından eklendi.', CAST(N'2022-08-04T19:45:53.070' AS DateTime))
INSERT [dbo].[TablesLogs] ([TablesLogsId], [UserId], [ItemId], [TableName], [ItemName], [Process], [LogDate]) VALUES (3, 1, 1, N'Services', N'Hizmet 1', N'Hizmet 1 Hizmeti StarWork - Admin tarafından güncellendi.', CAST(N'2022-08-04T19:47:54.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[TablesLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogs] ON 

INSERT [dbo].[UserLogs] ([UserLogId], [UserId], [State], [LogDate]) VALUES (5, 1, N'Giriş Yapıldı', CAST(N'2022-05-05T19:17:44.603' AS DateTime))
INSERT [dbo].[UserLogs] ([UserLogId], [UserId], [State], [LogDate]) VALUES (6, 1, N'Çıkış Yapıldı', CAST(N'2022-05-05T19:17:51.973' AS DateTime))
INSERT [dbo].[UserLogs] ([UserLogId], [UserId], [State], [LogDate]) VALUES (7, 1, N'Giriş Yapıldı', CAST(N'2022-05-05T19:17:54.027' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPasswords] ON 

INSERT [dbo].[UserPasswords] ([UserId], [UserPasswordId], [Password], [CurrentPassword]) VALUES (1, 1, N'6C246C2D1EC0997E5E8D3F2689E0A901', N'6C246C2D1EC0997E5E8D3F2689E0A901')
INSERT [dbo].[UserPasswords] ([UserId], [UserPasswordId], [Password], [CurrentPassword]) VALUES (2, 2, N'CC03E747A6AFBBCBF8BE7668ACFEBEE5', N'CC03E747A6AFBBCBF8BE7668ACFEBEE5')
INSERT [dbo].[UserPasswords] ([UserId], [UserPasswordId], [Password], [CurrentPassword]) VALUES (3, 3, N'CC03E747A6AFBBCBF8BE7668ACFEBEE5', N'CC03E747A6AFBBCBF8BE7668ACFEBEE5')
SET IDENTITY_INSERT [dbo].[UserPasswords] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Job], [Phone], [Email], [Auth], [State]) VALUES (1, N'StarWork - Admin', N'Yönetici', N'0555555552', N'starwork-it@outlook.com', N'0', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Job], [Phone], [Email], [Auth], [State]) VALUES (2, N'test1', N'test1', N'0555555522', N'test@outlook.com', N'1', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Job], [Phone], [Email], [Auth], [State]) VALUES (3, N'test2', N'test2', N'4343432322', N'test2@outlook.com', N'3', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AboutUs] ADD  CONSTRAINT [DF_AboutUs_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Blogs] ADD  CONSTRAINT [DF_Blog_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Category_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF_Comment_Confirmation]  DEFAULT ((0)) FOR [Confirmation]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_OldPrice]  DEFAULT ((0)) FOR [OldPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Stock]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[ProductSliders] ADD  CONSTRAINT [DF_ProductSliders_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Service_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Sliders] ADD  CONSTRAINT [DF_Sliders_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[SubCategories] ADD  CONSTRAINT [DF_SubCategory_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[AboutUs]  WITH CHECK ADD  CONSTRAINT [FK_AboutUs_Users] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AboutUs] CHECK CONSTRAINT [FK_AboutUs_Users]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blog_Category]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blog_SubCategory] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blog_SubCategory]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Users]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Users]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Users1] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Users1]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comment_Blog]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Products]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_Users] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_Users]
GO
ALTER TABLE [dbo].[HomeVideo]  WITH CHECK ADD  CONSTRAINT [FK_HomeVideo_Users] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[HomeVideo] CHECK CONSTRAINT [FK_HomeVideo_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SubCategories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SubCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[ProductSliders]  WITH CHECK ADD  CONSTRAINT [FK_ProductSliders_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductSliders] CHECK CONSTRAINT [FK_ProductSliders_Products]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Users]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Users1] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Users1]
GO
ALTER TABLE [dbo].[SiteIdentity]  WITH CHECK ADD  CONSTRAINT [FK_SiteIdentity_Users] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SiteIdentity] CHECK CONSTRAINT [FK_SiteIdentity_Users]
GO
ALTER TABLE [dbo].[Sliders]  WITH CHECK ADD  CONSTRAINT [FK_Sliders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Sliders] CHECK CONSTRAINT [FK_Sliders_Users]
GO
ALTER TABLE [dbo].[Sliders]  WITH CHECK ADD  CONSTRAINT [FK_Sliders_Users1] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Sliders] CHECK CONSTRAINT [FK_Sliders_Users1]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Users]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Users1] FOREIGN KEY([EmendatorAdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Users1]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
ALTER TABLE [dbo].[TablesLogs]  WITH CHECK ADD  CONSTRAINT [FK_TablesLogs_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TablesLogs] CHECK CONSTRAINT [FK_TablesLogs_User]
GO
ALTER TABLE [dbo].[UserLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserLog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserLogs] CHECK CONSTRAINT [FK_UserLog_User]
GO
ALTER TABLE [dbo].[UserLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserLogs] CHECK CONSTRAINT [FK_UserLogs_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserPasswords] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserPasswords] ([UserId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserPasswords]
GO
USE [master]
GO
